<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latest</title>
    <link th:href="@{/css/output_code.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          target="_blank" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <th:block th:each="code : ${latestList}">
        <span th:utext="${code.getDate()}"></span>
        <div><pre><code th:utext="${code.getCode()}"></code></pre></div>
    </th:block>
</body>
</html>